<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首頁</title>
  <link rel="stylesheet" href="/assets/style/all.css">
</head>

<body>
  <header class="header">
    <div>
      <a href="index.html"><img src="/assets/img/logo.png" alt=""></a>
    </div>
    <ul>
      <li><a href="product.html">系列鏡框</a></li>
      <li><a href="location.html">門市據點</a></li>
      <li><a href="blog.html">部落格</a></li>
      <li><a href="qna.html">常見問題</a></li>
    </ul>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="container">
      <div class="nav">
        <ul>
          <li><a href="index.html">首頁</a></li>
          <li><a href="product.html">系列鏡框</a></li>
          <li><a href="location.html">門市據點</a></li>
          <li><a href="blog.html">部落格</a></li>
          <li><a href="qna.html">常見問題</a></li>
        </ul>
        <ul>
          <li><a href="#"><img src="/assets/img/icon-fb.svg" alt=""></a></li>
          <li><a href="#"><img src="/assets/img/icon-ig.svg" alt=""></a></li>
          <li><a href="#"><img src="/assets/img/icon-line.svg" alt=""></a></li>
        </ul>
      </div>
      <div class="info">
        <ul>
          <li><img src="/assets/img/icon-phone.svg" alt=""></li>
          <li><h3>0800-000-000</h3></li>
        </ul>
        <ul>
          <li><img src="/assets/img/icon-mail.svg" alt=""></li>
          <li><h3>glasses@business.com</h3></li>
        </ul>
      </div>
      <div class="copyright">
        <ul>
          <li><img src="/assets/img/logo.png" alt=""></li>
          <li>Copyright © 2020 Glasses.All rights reserved.</li>
        </ul>
        <ul>
          <li><a href="#">隱私權政策</a></li>
          <li><a href="#">服務條款</a></li>
        </ul>
      </div>
    </div>
  </footer>

</body>

</html>
